<br>
<div>
    <a role="button" class="btn btn-primary" [routerLink]="['/']">Back</a>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label for="username">Username</label> <br>
                    <input type="text"
                      name="username" class="form-control" [(ngModel)]="model.username"
                        #username="ngModel" required />
                    <div *ngIf="f.submitted
                      && !username.valid" class="text-danger">Username is required</div>
                </div>
                <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="password">Password</label><br>
                    <input type="password"
                      name="password" class="form-control" [(ngModel)]="model.password"
                        #password="ngModel" required />
                    <div *ngIf="f.submitted
                      && !password.valid" class="text-danger">Password is required</div>
                </div>
                <br>
                <div>
                    <button class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
